.cart-container{
    height: 81vh;
    background-color: var(--quaternary);
}

.cart-body{
    position: relative;
    background-color: var(--secondary);
    margin-left: 1.5vh;
    margin-right: 1.5vh;
    border-radius: 2vh;
    height: 77vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-body > h1 {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 300;
    font-style: italic;
    font-size: 3vh;
    align-self: self-start;
    padding: 3.6vh;
}

.cart-products{
    position: relative;
    overflow-y: auto;
    height: 45vh;
    margin-bottom: 4vh;
    width: 87%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 5vh;
}

.cart-total{
    border: 0.1vh solid var(--tertiary) ;
    border-radius: 1.5vh;
    padding: 1vh;
    width: 70vw;
    color: var(--tertiary);
    font-family: 'Cormorant Garamond', serif;
    font-weight: 300;
    font-style: italic;
    font-size: 3vh;
    text-align: center;
}

.cart-payment-button{
    position: absolute;
    bottom: -2.25vh;
}