.init-card{
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--quaternary);
}

.init-header{
    height: 8vh;
    background-color: var(--secondary);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.init-tittle{
    width: 80vw;
    font-size: 2.6vh;
    color: var(--tertiary);
    font-family: 'Cormorant Garamond', serif;
    font-weight: 300;
    font-style: italic;
    padding-left: 6vw;
}

.dropdown-container {
    width: 80vw;
    padding-left: 2vw;
    display: flex;
    justify-content: center;
}

.dropdown {
    width: 70vw;
    height: 3.5vh;
    padding-left: 5vw;
    font-size: 2vh;
    border-radius: 3vh;
    background-color: white;
    color: var(--primary);
    font-family: 'Cormorant Garamond', serif;
    font-weight: 300;
    font-style: italic;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('../../assets/imgs/dropdownArrow.svg');
    background-repeat: no-repeat;
    background-position: right 1.5vh center;
    background-size: 2vh;
    border: none;
}

.products{
    flex: 1;
    overflow-y: auto;
    position: relative;
}

.products-row{
    display: flex;
    flex-direction: row;
    margin: 5vw;
    justify-content: space-around;
}