.change-password-body{
    height: 81vh;
    background-color: var(--quaternary);
    position: relative;
}

.change-password-form{
    background-color: var(--secondary);
    border: 0.3vh solid var(--tertiary);
    border-radius: 1vh;
    height: 50vh;
    margin-left: 1.3vh;
    margin-right: 1.3vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.change-password-button{
    position: absolute;
    bottom: -2.25vh;
}

.change-password-text{
    margin-top: 12vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.change-password-text h1{
    font-family: 'Cormorant Garamond', serif;
    font-weight: 400;
    font-style: italic;
    font-size: 4vh;
    color: var(--primary);
}