.principal-card{
    background-color: var(--primary);
    height: 100vh;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.header{
    height: 25vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header > img{
    width: 26vh;
}

.tittle{
    font-family: 'Cormorant Garamond', serif;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    color: var(--tertiary);
    font-size: 4vh;

}

.contain{
    width: 100vw;
    height: 75vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2vh;
}

.logo{
    background-color: var(--secondary);
    width: 12vh;
    height: 12vh;
    position: absolute;
    border: 0.3vh solid var(--tertiary);
    border-radius: 50%;
    top: -6vh;
    display: flex;
    justify-content: center;
}

.logo > img{
    width: 7vh;
}

.secondary-card{
    background-color: var(--secondary);
    border: 0.3vh solid var(--tertiary);
    border-radius: 1vh;
    width: 80vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-container{
    border-bottom: 0.3vh solid var(--tertiary);
    width: 60vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 0.3vh;
    margin: 2.5vh 
}

#user{
    margin-right: 0.5vh;
}
#password{
    margin-right: 0.5vh;
}
#view{
    cursor: pointer;
}

.inputs{
    background-color: var(--secondary);
    border: none;
    outline: none;
    box-shadow: none;
    color: var(--tertiary);
    font-family: 'Cormorant Garamond', serif;
    font-weight: 300;
    font-style: italic;
    letter-spacing: 0.2vw;
    padding: 0.8vh;
    font-size: 2vh;
    margin-right: auto;
}

.inputs::placeholder {
    color: var(--tertiary);
    opacity: 0.7; 
    font-family: 'Cormorant Garamond', serif;
    font-weight: 300;
    font-style: italic;
    letter-spacing: 0.2vw;
    font-size: 1.8vh;
}

a{
    color: var(--tertiary); 
    font-family: 'Cormorant Garamond', serif;
    font-weight: 300;
    font-style: italic;
    position: absolute;
    bottom: 22vh;
    font-size: 1.7vh;
    letter-spacing: 0.075vh;
    text-decoration: underline;
}

.button{
    position: absolute;
    bottom: 11vh;
    cursor: pointer;
}