.principal-card{
    background-color: var(--primary);
    height: 100vh;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.header{
    height: 25vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tittle{
    font-family: 'Cormorant Garamond', serif;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    color: var(--tertiary);
}

.contain{
    width: 100vw;
    height: 75vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo{
    background-color: var(--secondary);
    width: 12vh;
    height: 12vh;
    position: absolute;
    border: 2px solid var(--tertiary);
    border-radius: 50%;
    top: -6vh;
    display: flex;
    justify-content: center;
}

.secondary-card{
    background-color: var(--secondary);
    border: 2px solid var(--tertiary);
    border-radius: 10px;
    width: 80vw;
    height: 60vh;
}

.button{

}