.banner{
    animation: slideDown 0.7s ease-out;

    position: fixed;
    top: 0;
    width: 100vw;
    background-color: var(--tertiary);
    color: var(--primary);
    text-align: center;
    padding: 1vh;
    z-index: 9999;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 300;
    font-style: italic;
    font-size: 1.5vh;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%); 
  }
  to {
    transform: translateY(0);   
  }
}