.discount-body{
    height: 81vh;
    background-color: var(--tertiary);
    font-family: 'Cormorant Garamond', serif;
    font-style: italic;
    color: var(--primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 3vh;
}

.discount-points, .discount-button, .discount{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.discount-points{
    height: 20vh;
}

.discount-button{
    height: 20vh;
}

.discount-button button{
    font-family: 'Cormorant Garamond', serif;
    font-style: italic;
    background-color: var(--secondary);
    color: var(--tertiary);
    width: 65vw;
    height: 10vh;
    border-radius: 2vh;
    font-size: 3vh;
}

.discount{
    height: 41vh;
    font-size: 5vh;
}

.discount-active{
    animation: appear-discount 0.8s ease-out forwards;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: scale(0);
    opacity: 0;
}

.discount-active-circle{
    margin: 2vh 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--tertiary);
    background-color: var(--secondary);
    width: 12vh;
    height: 12vh;
    border-radius: 50%;
    padding-bottom: 0.5vh;
    
}

@keyframes appear-discount {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    50%{
        transform: scale(1.5);
        opacity: 0.5;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}